[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = sc.microsite
package-extras = [test]
test-eggs = Pillow

parts +=
    i18ndude
    omelette
    rebuild_i18n-sh

[code-analysis]
directory = ${buildout:directory}/src/sc/microsite
pre-commit-hook = True
clean-lines = True
deprecated-aliases = True
flake8-ignore = E501
imports = False
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
